.header-container{
    background: #76c7c1;
    height: 71px;
}
.header-wrapper{
    
    margin: 0 auto;
    width: 1170px;  
   
  
}

.header-logo{
    float:left;
    height: 71px; 
    padding-top: 10px;
}

.header-menu{
    float:right;
  
    height: 71px;
    line-height: 71px;
}
.header-menu-list{
    float:left;
    list-style-type: none;
    
}

.header-menu-list li{
    display: inline-block;
    height:33px;
    width: 104px;
    line-height: 33px;

    text-align: center;

}
.header-menu-list li:hover{
    background-image: url(/images/hover.jpg);
    background-repeat: no-repeat;
}
.header-menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}

.header-search{
    float:right;
    background-image: url(../images/search-inactive.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 34px;
    margin-top: 20px;
}
.header-search:hover{
    background-image: url(../images/active.jpg);
    
}
.header-below-image{
    background-image: url(../images/repimage.jpg);
    background-repeat: repeat-x;
    height: 10px;
}

.body-header{
 
    height: 60px;
    background-color: #ececec;
    line-height: 60px;
 
    color: #818a87;
     /* text grey color */


}
.body-header-wrapper{
   
    margin: 0 auto;
    width: 1170px;  
      
}
.body-header-left{
    float: left;
    font-size: 17px;
    text-transform: uppercase;
}
.body-header-right{
    float: right;
}
.body-content-wrapper{
    
    margin: 0 auto;
    width: 1170px;  
   
}
.body-content{
    height: 500px;
    background-color:#f3f3f3 ;
}
.body-content-upper-div{
    padding-top:50px ;
}
.body-content-lower-div{
    margin-top: 71px;
    width:290.5px
}
.body-content-ld-left{
    float: left;

}
.body-content-ld-left span{
    color:#7e8a8a;
    font-weight: 700;
    font-size: 20px;
}
.body-content-ld-left li{
   list-style-type: none;
   color:#737373;
   
}
.body-content-ld-middle{
    padding-left: 80px;
    width:585px;
    float: left;
   
}
.middle-image-part{
    width: 100%;
    margin-top: 10%;
}
.image-and-text{
    width:25%;
    float:left;
    position: relative;
}
.image-and-text1{
    width:25%;
    float:left;
    position: relative;

}.image-and-text2{
    width:25%;
    float:left;
    position: relative;

}.image-and-text3{
    width:25%;
    float:left;
    position: relative;

}
.image-part{
    background-image: url(../images/50.png);
    background-repeat: no-repeat ;
    width:100%;
    height:60px;
    text-align: center;
}
.image-part1{
    background-image: url(../images/70.png);
    background-repeat: no-repeat ;
    width:100%;
    height:60px;
    text-align: center;
}
.image-part2{
    background-image: url(../images/80.png);
    background-repeat: no-repeat ;
    width:100%;
    height:60px;
    text-align: center;
}
.image-part3{
    background-image: url(../images/100.png);
    background-repeat: no-repeat ;
    width:100%;
    height:60px;
    text-align: center;
}
.text-part{
    margin-top: 10px;
    margin-left: 12px;
    color:#7c8a8a;
    text-transform: uppercase;
}
.text-part-number{
   position: absolute;
   bottom: 30px;
   left:50px;
   color: #7c8a8a;
   font-weight: 700;
   font-size: 20px;
}



.body-content-ld-right{
    width: 292.5px;
    float: left;
    
    
}
.body-content-ld-right span{
    color:#7e8a8a;
    font-weight: 700;
    font-size: 20px;
}

.background-of-text{
    background-color: #f8f8f8;
    margin-top: 5px;
    padding:5px 5px;
}
.small-image{
    margin-left: 10px;
}
.questions{
    color:#7e8a8a;
    font-weight: 700;
    font-size: 20px;
    margin-left: 25px;
    padding-left: 19px;
}
.body-middle-content{
    height: 850px;
    background-image: url(../images/repeat-image-body.jpg) ;

}
.body-middle-content-inner{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    padding-top: 180px;
}
.four-block-wrapper{
    height: 340px;
  
   
    width: 100%;
}
.box1{
    float: left;
    width: 270px;
    height: 100%;
    position: relative;
}
.upper-image-box1{
   height: 310px;
   width: 100%;
   background-image: url(../images/image.png);
}
.lower-button-box1{
    position: absolute;
    bottom: 10px;
    left: 40px;
    height: 55px;
    width:190px;
    background-image: url(../images/button.jpg);
}

.box2{
    margin-left: 25px;
    float: left;
    width: 270px;
    height: 100%;
    position: relative;
}
.upper-image-box2{
   height: 310px;
   width: 100%;
   background-image: url(../images/image.png);
}
.lower-button-box2{
    position: absolute;
    bottom: 10px;
    left: 40px;
    height: 55px;
    width:190px;
    background-image: url(../images/button.jpg);
}


.box3{
    margin-left: 25px;
    float: left;
    width: 270px;
    height: 100%;
    position: relative;
}
.upper-image-box3{
   height: 310px;
   width: 100%;
   background-image: url(../images/image.png);
}
.lower-button-box3{
    position: absolute;
    bottom: 10px;
    left: 40px;
    height: 55px;
    width:190px;
    background-image: url(../images/button.jpg);
}


.box4{
    margin-left: 25px;
    float: left;
    width: 270px;
    height: 100%;
    position: relative;
}
.upper-image-box4{
   height: 310px;
   width: 100%;
   background-image: url(../images/image.png);
}
.lower-button-box4{
    position: absolute;
    bottom: 10px;
    left: 40px;
    height: 55px;
    width:190px;
    background-image: url(../images/button.jpg);
}
.near-footer-content{
    width: 100%;
    height: 20px;
    margin-top:50px;
}
.near-footer-content p.heading{
    font-size: 40px;
    color:red;
    text-align: center;
}
.content{
    font-size: 16px;
    color:#ababab;
    text-align: center;
}
.slider-group-container{
    height: 40px;
    width: 100%;
    margin-top:100px;

}

.footer-main-container{
    clear: both;
    margin-top: 25%;
    background: #76c7c1;
    height: 250px;
}
.footer-wrapper{
    width:78%;
    margin: 0 auto;
  

}
.footer-left{
    width:25%;
    float: left;
    
}
.footer-middle1{
    width: 20%;
    padding-left:5% ;
    padding-top: 1%;
    float: left;
}
.footer-middle2{
    width: 20%;
    padding-left:5% ;
    padding-top: 1%;
    float: left;
}
.footer-right{
    padding-top: 1%;

    width: 25%;
    float: left;
    color: white;
}
.footer-right li{
   list-style-type: none;
   padding-bottom:5% ;
}
.footer-right-image{
    float: left;
}
.footer-right-content{
    float:right;
    margin-left: 5px;

}
.footer-left p{
    
    color: white;
}
.contact-detail{
    margin-top: 5%;
}
.contact-detail li{
    list-style-type: none;
    color: white;
    font-size: 16px;
    margin:0 5% 0 0;
}
.contact{
    font-style: italic;
    font-size: 24px;
    
}
.heading{
    font-size: 24px;
    color: rgb(41, 40, 40);


}
.footer-middle1 li{
    list-style-type: none;
    padding-bottom:3% ;
}
.footer-middle1 li a{
    text-decoration: none;
    color: white;
    
}
.footer-middle2 li{
    list-style-type: none;
    padding-bottom:3% ;
}
.footer-middle2 li a{
    text-decoration: none;
    color: white;
    
}
.container-right{
    margin-top:4%;
}
.footer-right-wrapper{
  float: left;
}
.footer-right-wrapper-two{
float: left;
}
.footer-right-image{
    width: 20%;
}
.footer-right-content{
    width: 70%;
}
/* footer lower part */

.below-footer{
    height: 51px;
    width: 100%;
    background-color: #6bb4ad;
}
.below-footer-wrapper{
    width: 78%;
    height: 100%;
    margin: 0 auto;

}
.left-part{
    line-height: 50px;

    text-align: center;
    color: white;
    float: left;
}
.right-part{

  
    float: right;
}